.dashboard {
    display: flex;
  }

  .sidebar {
    width: 20%;
    background-color: #333;
    color: #fff;
    padding: 20px;
  }

  .content {
    width: 80%;
    background-color: #f9f9f9;
    padding: 20px;
  }

  .card {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
  }